.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# ignore vscode files in subdirectories
**/.vscode

**/__pychache__/

# ignore all pandas files
**/pandas/*

Lab 01 - Pandas_files/
